__pycache__/
.ipynb_checkpoints
saved_activations/
data/
saved_models/
.venv/
cuda_test.py
.openai_api_key
.umls_api_key
chestxray_imgs/
chestxray_imgs_parts/
data/
.vscode/
Label-Free Concept Bottleneck Models.pdf
equation_explanations.txt
.gitignore
.gitignore
README_METHODS.txt
methods_section.tex
methods_notes.txt
manuscript_template.tex
